In [5]:
#1)1. Create a DataFrame from the following data:
#  | Name     | Age | Department   | Salary  |
# |----------|-----|--------------|---------|
#  | John     | 28  | HR           | 45000   |
#  | Alice    | 34  | IT           | 60000   |
#  | Bob      | 23  | Marketing    | 35000   |
#  | Diana    | 29  | Finance      | 50000   |

import pandas as pd
data = {
    'Name': ['John', 'Alice', 'Bob', 'Diana'],
    'Age': [28, 34, 23, 29],
    'Department': ['HR', 'IT', 'Marketing', 'Finance'],
    'Salary': [45000, 60000, 35000, 50000]
}
df = pd.DataFrame(data)
print(df)

    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000
2    Bob   23  Marketing   35000
3  Diana   29    Finance   50000

In [7]:
#2) Display the first 2 rows of the DataFrame.
#   - Add a new column named `Bonus` where the bonus is 10% of the salary.
#   - Calculate the average salary of employees in the DataFrame.
#   - Filter and display employees who are older than 25.
import pandas as pd
data = {
    'Name': ['John', 'Alice', 'Bob', 'Diana'],
    'Age': [28, 34, 23, 29],
    'Department': ['HR', 'IT', 'Marketing', 'Finance'],
    'Salary': [45000, 60000, 35000, 50000]
}
df = pd.DataFrame(data)
print("First 2 rows of the DataFrame:")
print(df.head(2))
print()
df['Bonus'] = df['Salary'] * 0.10
print("DataFrame with Bonus column:")
print(df)
print()
average_salary = df['Salary'].mean()
print(f"The average salary of employees is: {average_salary:.2f}")
print()
filtered_df = df[df['Age'] > 25]
print("Employees older than 25:")
print(filtered_df)

First 2 rows of the DataFrame:
    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000

DataFrame with Bonus column:
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
2    Bob   23  Marketing   35000  3500.0
3  Diana   29    Finance   50000  5000.0

The average salary of employees is: 47500.00

Employees older than 25:
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
3  Diana   29    Finance   50000  5000.0